# Environment
.env
.env.local

# Dependencies
node_modules/

# Build outputs
dist/
build/

# Hardhat
contracts/cache/
contracts/artifacts/
contracts/typechain-types/

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Logs
*.log
npm-debug.log*

# Coverage
coverage/
